.background {
    background-color: #9296F6;
    background: url('/images/GH_Background.png') center / cover no-repeat;
    background-attachment: fixed;
    /* background-size: 100% 110%; */
}

/* Container code for contaier 0 aka(top of page) */
.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.container h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    border: 2px solid white; /* Emphisize the title text */
}

.container h2 {
    text-align: center;
    font-size: 50px;
    margin-top: -10px;
    color: white;
    border: 2px solid white;
}

.container img { /* Circle Sonic jpeg alignment */
    width: 40%;
    margin-left: 250px;
}

/* Container 1 code goes here */
.container1 {
    max-width: 800px;
    margin-left: 8;
    /* Black bg to make text pop out from background*/
    background: rgba(9, 5, 50, 0.8);
    padding: 10px;
}

.container1 p { /* Paragraph text */
    color: white;
    text-align: center;
}

.container1 img {
    float: right;
    margin-right: -500px;
    margin-top: -50px;
    width: 50%;
    border: 2px solid white;
    /* To make image pop*/
    background: rgba(9, 5, 50, 0.5);
}

/* 800px Media */
@media screen and (max-width:800px) {

    .container{
        width:90%;
    }
    .container img {
        width: 60%;
        margin-left: 90px;
        margin-top: -30px;
    }

    .container1{
        width:90%;
    }
    .container1 p {
        width: 50%;
        font-size: 15px;
        text-align: left;
    } 
    /* Trying to get the bottom text to wrap arounf image too */

    /* Fixing image for mobile mode */
    .container1 img {
        width: 150%;
        float: right;
        margin-right: -250px;
        margin-top: 60px;
    }
}